html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}
body {
    overflow-y: scroll;
    margin: 0;
    padding: 0
}
a:active,
a:hover {
    outline: 0
}
button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0
}
button,
input {
    line-height: normal
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
.sc-artwork {
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block
}
.sc-artwork.sc-artwork-placeholder-8 {
    background-image: linear-gradient(135deg, #e6846e, #8e8485)
}
.sc-background-darkgrey {
    background-color: #333
}
.sc-button {
    display: inline-block;
    position: relative;
    height: 26px;
    margin: 0;
    padding: 2px 11px 2px 10px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;
    text-align: center;
    vertical-align: baseline;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    box-sizing: border-box
}
.sc-button:hover,
.sc-button:focus,
.sc-button-focus {
    color: #333;
    outline: 0;
    border-color: #ccc
}
.sc-button-active,
.sc-button-selected {
    color: #f50
}
.sc-button-active:hover,
.sc-button-active:focus,
.sc-button-active.sc-button-focus,
.sc-button-selected:hover,
.sc-button-selected:focus,
.sc-button-selected.sc-button-focus {
    color: #f50;
    border: 1px solid #f50
}
.sc-button:visited {
    color: #333
}
.sc-button-visual,
.sc-button-visual:hover,
.sc-button-visual:focus,
.sc-button-visual:active,
.sc-button-visual:visited {
    border: 1px solid transparent;
    background: rgba(0, 0, 0, .6);
    color: #fff
}
.sc-button-visual:hover {
    background: rgba(0, 0, 0, .7)
}
.sc-button-visual:active {
    background: rgba(0, 0, 0, .8)
}
.sc-button-selected.sc-button-visual {
    background: rgba(0, 0, 0, .9);
    color: #fff
}
.sc-button-label-default,
.sc-button:hover .sc-button-label-hover {
    visibility: visible
}
.sc-button:hover .sc-button-label-default {
    visibility: hidden
}
.sc-button-block,
.sc-button-buy,
.sc-button-camera,
.sc-button-delete,
.sc-button-download,
.sc-button-edit,
.sc-button-like,
.sc-button-message,
.sc-button-moderate,
.sc-button-more,
.sc-button-pageleft,
.sc-button-pageright,
.sc-button-reply,
.sc-button-repost,
.sc-button-share,
.sc-button-startstation,
.sc-button-thumbup,
.sc-button-thumbdown,
.sc-button-upload {
    text-indent: 19px
}
.sc-button-addtoset {
    text-indent: 20px
}
.sc-button-addtoset:before,
.sc-button-block:before,
.sc-button-buy:before,
.sc-button-camera:before,
.sc-button-delete:before,
.sc-button-download:before,
.sc-button-edit:before,
.sc-button-instagram:before,
.sc-button-like:before,
.sc-button-message:before,
.sc-button-moderate:before,
.sc-button-more:before,
.sc-button-pageleft:before,
.sc-button-pageright:before,
.sc-button-pc:before,
.sc-button-reply:before,
.sc-button-repost:before,
.sc-button-share:before,
.sc-button-startstation:before,
.sc-button-thumbup:before,
.sc-button-thumbdown:before,
.sc-button-upload:before {
    content: "";
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 4px
}
.sc-button-addtoset:before,
.sc-button-like:before {
    left: 5px
}
.sc-button-small:before {
    width: 20px;
    height: 20px
}
.sc-button-small.sc-button-like:before {
    background-size: 16px 16px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+c3RhdHNfbGlrZXNfZ3JleTwvdGl0bGU+PHBhdGggZD0iTTEwLjgwNSAzQzguNzg1IDMgOCA1LjM0NSA4IDUuMzQ1UzcuMjE0IDMgNS4xOTcgM0MzLjQ5NCAzIDEuNzQ4IDQuMDk2IDIuMDMgNi41MTRjLjM0NCAyLjk1MyA1LjcyNSA2LjQ4IDUuOTYzIDYuNDg3LjIzOC4wMSA1LjczOC0zLjcyIDUuOTg4LTYuNS4yMDgtMi4zLTEuNDczLTMuNS0zLjE3NS0zLjV6IiBmaWxsPSIjMjIyIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=)
}
.sc-button-small.sc-button-share:before {
    background-size: 16px 16px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+c2hhcmU8L3RpdGxlPjxnIGZpbGw9IiMyMjIiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHBhdGggZD0iTTEyIDNDOC4wMzIgMyA3IDQuOCA3IDcuOGMxLjY0Mi0zIDQuMTU3LTIuNzk1IDUtMi43OTVWM3ptMC0ydjZsMy0zLTMtM3oiLz48cGF0aCBkPSJNMTQgN3Y0YzAgMS4xMTMtLjkgMi0yLjAxIDJINC4wMUMyLjkgMTMgMiAxMi4xMDUgMiAxMVY1YzAtMS4xMTMuOS0yIDIuMDEtMkg3LjJjLS41OTcuNTYtMS4wNSAxLjIzLTEuMzg0IDJINHY2aDhWOWwyLTJ6bS0zLTJoLS4wNGwuMDQtLjAxVjV6Ii8+PC9nPjwvc3ZnPg==)
}
.sc-button-small.sc-button-selected.sc-button-like:before,
.sc-button-small.sc-button-selected.sc-button-like.sc-button-lightfg:before,
.sc-button-small.sc-button-selected.sc-button-like.sc-button-visual:before {
    background-size: 16px 16px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+c3RhdHNfbGlrZXNfZ3JleTwvdGl0bGU+PHBhdGggZD0iTTEwLjgwNSAzQzguNzg1IDMgOCA1LjM0NSA4IDUuMzQ1UzcuMjE0IDMgNS4xOTcgM0MzLjQ5NCAzIDEuNzQ4IDQuMDk2IDIuMDMgNi41MTRjLjM0NCAyLjk1MyA1LjcyNSA2LjQ4IDUuOTYzIDYuNDg3LjIzOC4wMSA1LjczOC0zLjcyIDUuOTg4LTYuNS4yMDgtMi4zLTEuNDczLTMuNS0zLjE3NS0zLjV6IiBmaWxsPSIjRjUwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=)
}
.sc-button-small.sc-button-selected.sc-button-like.sc-button-lightfg:focus:before {
    background-size: 16px 16px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+c3RhdHNfbGlrZXNfZ3JleTwvdGl0bGU+PHBhdGggZD0iTTEwLjgwNSAzQzguNzg1IDMgOCA1LjM0NSA4IDUuMzQ1UzcuMjE0IDMgNS4xOTcgM0MzLjQ5NCAzIDEuNzQ4IDQuMDk2IDIuMDMgNi41MTRjLjM0NCAyLjk1MyA1LjcyNSA2LjQ4IDUuOTYzIDYuNDg3LjIzOC4wMSA1LjczOC0zLjcyIDUuOTg4LTYuNS4yMDgtMi4zLTEuNDczLTMuNS0zLjE3NS0zLjV6IiBmaWxsPSIjRUI0RTAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=)
}
.sc-button-small {
    font-size: 11px;
    padding: 2px 9px 2px 8px;
    height: 22px;
    line-height: 16px
}
.sc-button-small:not(.sc-button-cta) {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif
}
.sc-button-medium.sc-button-follow:not(.sc-button-stretch-icon) {
    min-width: 98px
}
.sc-button-small.sc-button-follow:not(.sc-button-stretch-icon) {
    min-width: 81px
}
.sc-button-group>.sc-button {
    float: left;
    margin-right: 5px
}
.sc-button-small.sc-button-icon,
.sc-button-medium.sc-button-icon {
    text-align: left;
    text-indent: -100000px
}
.sc-button-small.sc-button-icon:not(.sc-button-stretch-icon),
.sc-button-small.sc-button-responsive:not(.sc-button-stretch-icon) {
    min-width: 25px
}
.sc-button-medium.sc-button-icon:not(.sc-button-stretch-icon),
.sc-button-medium.sc-button-responsive:not(.sc-button-stretch-icon) {
    min-width: 31px
}
.sc-button-small.sc-button-icon:not(.sc-button-stretch-icon):before {
    left: 1px
}
.sc-button-medium.sc-button-icon:not(.sc-button-stretch-icon):before {
    left: 4px
}
.sc-button-medium.sc-button-icon {
    text-align: left;
    text-indent: -100000px
}
.sc-clearfix:before,
.sc-clearfix:after {
    content: "";
    display: table
}
.sc-clearfix:after {
    clear: both
}
a,
a:visited {
    color: #38d;
    text-decoration: none
}
a:hover {
    color: #333
}
a.sc-link-light {
    color: #999
}
ul,
ol {
    padding: 0;
    margin: 0 0 18px 25px
}
ul ul,
ul ol,
ol ol,
ol ul {
    margin-bottom: 0
}
ul {
    list-style: disc
}
.sc-list-nostyle {
    list-style: none;
    margin: 0
}
.sc-media-image img,
.sc-media-extra img,
.sc-media-object,
.sc-media-image .sc-artwork,
.sc-media-extra .sc-artwork {
    display: block
}
.sc-snippet-badge {
    text-transform: uppercase;
    font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 0;
    border: 1px solid;
    padding: 0 .5em;
    display: inline;
    color: #000
}
.sc-snippet-badge-small {
    font-size: 10px
}
.sc-tag>.sc-truncate {
    display: inline-block
}
.sc-truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal
}
body {
    font: 12px/1.4 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
    color: #333
}
.sc-ir {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: transparent
}
.sc-hidden {
    display: none!important;
    visibility: hidden
}
.sc-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}
.g-dark {
    color: #999
}
.g-dark-bg {
    background-color: #111
}
.g-dark a,
.g-dark .sc-type-light {
    color: #ccc
}
.g-dark a:hover,
.g-dark a:focus {
    color: #fff
}
.g-dark h1,
.g-dark .sc-type-h1,
.g-dark h2,
.g-dark .sc-type-h2,
.g-dark h3,
.g-dark .sc-type-h3 {
    color: #999
}
.g-dark-list {
    background-color: #111
}
.g-dark-list>li:hover {
    background-color: #333;
    color: #fff
}
.g-dark-list>li:hover h1,
.g-dark-list>li:hover .sc-type-h1,
.g-dark-list>li:hover h2,
.g-dark-list>li:hover .sc-type-h2,
.g-dark-list>li:hover h3,
.g-dark-list>li:hover .sc-type-h3 {
    color: #fff
}
.g-dark-list>li>a,
.g-dark-selected {
    display: block;
    position: relative;
    padding: 8px 10px
}
.g-dark-list>li>a:hover,
.g-dark-list>li>a:focus,
.g-dark-selected {
    outline: 0;
    color: #fff;
    background: #333
}
.g-dark textarea,
.g-dark select,
.g-dark input[type="text"],
.g-dark input[type="password"],
.g-dark input[type="search"] {
    color: #666;
    outline: 0;
    border: 0;
    padding: 5px 7px;
    background: #e5e5e5
}
.g-dark input[type="search"]:focus {
    background: #fff
}
.g-dark textarea::-webkit-input-placeholder,
.g-dark select::-webkit-input-placeholder,
.g-dark input[type="text"]::-webkit-input-placeholder,
.g-dark input[type="password"]::-webkit-input-placeholder,
.g-dark input[type="search"]::-webkit-input-placeholder {
    color: #999
}
.g-dark textarea:-moz-placeholder,
.g-dark select:-moz-placeholder,
.g-dark input[type="text"]:-moz-placeholder,
.g-dark input[type="password"]:-moz-placeholder,
.g-dark input[type="search"]:-moz-placeholder {
    color: #999
}
.g-dark .sc-button:not(.sc-button-cta) {
    border-color: #666;
    background-color: transparent;
    color: #fff
}
.g-dark .sc-button:not(.sc-button-cta):hover,
.g-dark .sc-button:not(.sc-button-cta):focus {
    border-color: #999
}
.g-dark .sc-button-selected:not(.sc-button-cta) {
    color: #f50
}
.g-dark .sc-button-selected:not(.sc-button-cta):hover,
.g-dark .sc-button-selected:not(.sc-button-cta):focus {
    border-color: #f50
}
img,
svg,
.sc-artwork {
    display: block
}
.g-button-premium.sc-button-small {
    font-size: 14px;
    padding: 2px 14px;
    line-height: 20px
}
.g-opacity-transition {
    transition: opacity .2s linear
}
.g-z-index-header {
    z-index: 1000
}
.l-container {
    padding: 0 30px;
    width: 1180px;
    margin: 0 auto
}
.l-container:before,
.l-container:after {
    content: "";
    display: table
}
.l-container:after {
    clear: both
}
.l-container.l-fullwidth {
    width: 1240px;
    padding: 0
}
@media (max-width: 1239px) {
    .l-container {
        width: 1020px
    }
    .l-container.l-fullwidth {
        width: 1080px
    }
}
@media (max-width: 1079px) {
    .l-container {
        width: 920px;
        padding: 0 20px
    }
    .l-container.l-fullwidth {
        width: 960px
    }
    .l-inner-fullwidth {
        margin-left: -20px;
        margin-right: -20px
    }
}